<div class="enter-category">
    <form [formGroup]="categoryForm"
          (ngSubmit)="onSubmit()">
        <div *ngIf="isLoading">
            <mat-progress-bar color="primary"></mat-progress-bar>
        </div>
        <!-- <mat-card> -->
        <div class="d-flex space-between align-center">
            <mat-card-title>Add Category</mat-card-title>

            <span class="material-icons close-icon"
                  (click)="closeDialog()">close</span>
        </div>

        <mat-card-content>
            <mat-form-field class="example-full-width"
                            appearance="outline"
                            style="width: 100%;margin-top: 20px;">
                <input matInput
                       placeholder="Name"
                       type="text"
                       formControlName="name">
                <mat-error *ngIf="getField('name')?.errors && (getField('name')?.dirty || getField('name')?.touched)">
                    <small>Category Name is required.</small>
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <div class="d-flex justify-content-end">
                <button type="submit"
                        mat-raised-button
                        class="btn-add"
                        color="primary"
                        [disabled]="categoryForm.invalid">
                    {{type == 'add' ? 'Add' : 'Update'}}
                </button>
                <button type="button"
                        mat-button
                        color="primary"
                        class="btn-cancel"
                        (click)="closeDialog()">
                    Cancel
                </button>
            </div>
        </mat-card-actions>
        <!-- </mat-card> -->
    </form>
</div>