.mat-mdc-form-field {
    width: 100%;
}

.enter-expense {
    padding: 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    cursor: pointer;
}

.btn-cancel {
    border: 1px solid #2196f3;
    color: #2196f3;
}

.btn-add {
    background-color: #2196f3;
    color: white;
}

.justify-content-end {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.btn-add,
.btn-cancel {
    margin-left: 8px; /* Add margin between buttons if needed */
}

.disabled {
    opacity: 0.5;
}
